@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-pink: #f0487a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-work-sans), ui-sans-serif, system-ui;
  --color-primary: #f0487a;
  --color-brand-pink: var(--brand-pink);
} */

/* @utility pattern {
  background-image: linear-gradient(
    to right,
    transparent calc(50% - 0.5px), 
    rgba(251, 232, 67, 0.4) calc(50% - 0.5px),
    rgba(251, 232, 67, 0.8) calc(50% + 0.5px),
    transparent calc(50% + 0.5px)
  );
  
  background-size: 5% 100%; 
  background-position: center;
  background-repeat: repeat-x;
}


@utility hero-section {
  background-color: var(--brand-pink);
  @apply h-96 
} */

:root {
  --header-background: #21262A;
  --primary: #964B48;
  --table-header-bg: #21242B;
}

@theme inline {
  --color-header-bg: var(--header-background);
  --color-primary: var(--primary);
  --color-table-head: var(--table-header-bg);
}

@utility action-btn {
  @apply flex items-center gap-1 bg-primary text-white font-semibold px-2 h-9 rounded-md text-sm md:text-base lg:px-3 lg:h-10
}

@utility table-container {
  @apply w-full overflow-x-auto;
}

@utility table-cell-label {
  @apply py-3 px-4 text-sm text-gray-700 font-semibold;
}

@utility status-badge {
    @apply inline-flex items-center gap-1 px-3 py-1 rounded text-sm font-semibold cursor-pointer select-none;
  }

@utility dropdown-menu {
  @apply absolute right-0 mt-1 bg-white border border-gray-200 rounded-lg shadow-lg z-50 min-w-[120px] py-1;
}

@utility dropdown-item {
  @apply block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 transition-colors;
}

@utility user-form-label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}

@utility user-form-input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent
}

@utility form-error {
  @apply mt-1 text-sm text-red-600
}

@utility form-grid {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 mb-4;
}

@utility radio-input {
    @apply w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500;
}

@utility radio-label {
  @apply ml-2 text-sm text-gray-700;
}

@utility pagination-btn {
  @apply w-8 h-8 flex items-center justify-center rounded text-sm font-medium transition-colors;
}

@utility pagination-active {
  @apply text-white;
}

@utility section-divider {
  @apply h-px mx-6 bg-linear-to-r from-transparent via-gray-200 to-transparent
}